/* globals.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.mode-btn {
  position: absolute;
  right: 0;
  top: 70px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  z-index: 9;
  color: #000;
}
:root {
  --background-color: #ffffff;
  --text-color: #182335;
  --sub-heading-text: #a78bd1;
  --caption-text: #6d6a7b;
  --brand-dark-purple: #4b3f72;
  --brand-purple: #685cf0;

  --link: #a78bd1;
  --hover: #c6b0e2;

  --primary-button-text: #ffffff;
  --primary-btn-bg: #6856f0;
  --secondary-button-bg: #742ea6;
  --secondary-button-text: #292531;
  --btn-hover-bg: #5e2384;

  --border: #c3cac9;
  --hover-border: #742ea6;
  --disabled-border: #2a2730;

  --body-small: 14px;
  --input-text-lighter: #666666;
  --form-bg: #363147;
  --form-border: #3c3749;
  --form-text: #ffffff;
  --form-focus-border: #742ea6;
  --form-error: #cd4132;
  --form-disable: #2a2730;

  --default-color: #742ea6;
  --active-color: #742ea6;
  --unavailable-color: #2a2730;

  --surface1: #1e1b24;
  --surface2: #292531;
  --surface3: #2f2a39;
  --surface4: #363147;
}

.dark {
  --background-color: #161019;
  --text-color: #ffffff;
  --sub-heading-text: #a78bd1;
  --caption-text: #6d6a7b;
  --brand-dark-purple: #4b3f72;
  --brand-purple: #685cf0;

  --link: #a78bd1;
  --hover: #c6b0e2;

  --primary-button-text: #ffffff;
  --primary-btn-bg: #742ea6;
  --secondary-button-text: #292531;
  --secondary-button-bg: #292531;
  --btn-hover-bg: #5e2384;

  --border: #3c3749;
  --hover-border: #742ea6;
  --disabled-border: #2a2730;

  --input-text-lighter: #adadad;
  --form-bg: #363147;
  --form-border: #3c3749;
  --form-text: #ffffff;
  --form-focus-border: #742ea6;
  --form-error: #cd4132;
  --form-disable: #2a2730;

  --default-color: #742ea6;
  --active-color: #742ea6;
  --unavailable-color: #2a2730;

  --surface1: #1e1b24;
  --surface2: #292531;
  --surface3: #2f2a39;
  --surface4: #363147;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.text-center {
  text-align: center;
}

h1 {
  font-size: 48px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0 0 15px;
}
h2 {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: -0.4px;
  margin: 0 0 15px;
}
h3 {
  font-size: 24px;
  line-height: 1.33;
  font-weight: 600;
  letter-spacing: -0.4px;
  margin: 0 0 15px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 15px;
}
a:hover {
  color: var(--link);
}
.p-btn {
  background-color: var(--primary-btn-bg);
  color: var(--primary-button-text);
  border-radius: 8px;
  padding: 13px;
  font-size: 18px;
  line-height: 1.23;
  font-weight: 500;
  box-shadow: none;
  text-transform: capitalize;
}
.border-btn {
  background-color: transparent;
  border: 1px solid var(--text-color);
}
.p-btn:hover {
  background-color: var(--btn-hover-bg);
}
.d-flex {
  display: flex;
}
.input-field .MuiOutlinedInput-notchedOutline {
  border-color: var(--border);
  border-radius: 8px;
}
.input-field
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline,
.input-field .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--hover-border);
  border-radius: 8px;
}
.MuiInputBase-input {
  color: var(--text-color);
}
.MuiInputBase-input::-webkit-input-placeholder {
  color: var(--input-text-lighter);
}
.MuiInputBase-input::-moz-placeholder {
  color: var(--input-text-lighter);
}
.MuiInputBase-input:-ms-input-placeholder {
  color: var(--input-text-lighter);
}
.MuiInputBase-input .input:-moz-placeholder {
  color: var(--input-text-lighter);
}

.input-each-wrap {
  display: flex;
  gap: 20px;
}
.input-each-wrap .input-each {
  width: 50%;
}
.input-label {
  margin-bottom: 13px;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 500;
}
.auth-form-wrap::-webkit-scrollbar {
  display: none;
}
.auth-form-wrap {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-popup .MuiDialog-paper {
  max-width: 530px;
  width: 100%;
  border-radius: 24px;
  background-color: var(--background-color);
}
.custom-popup .MuiDialogContent-root {
  padding: 20px 16px;
  text-align: center;
}
.custom-popup .MuiDialogContent-root .p-btn {
  width: 100%;
  margin-top: 32px;
}
.custom-popup .MuiDialogContent-root h3 {
  color: var(--text-color);
  margin: 8px 0;
}
.custom-popup .MuiDialogContent-root p {
  color: var(--input-text-lighter);
  margin: 0;
  font-weight: 500;
}
.popup-icon {
  padding: 16px;
  width: max-content;
  margin: 0 auto;
  border-radius: 20px;
  background: #ebf9eb;
  line-height: 0;
}
.large-container {
  max-width: 1840px;
  margin: 0 auto;
}
.movie-tag {
  background: var(--surface1);
  color: var(--text-color);
  width: max-content;
  border-radius: 8px;
  padding: 3px 8px;
  font-size: 18px;
  font-weight: 600;
}
