/* For LG (1200 - 1536) */
@media screen and (max-width: 1600px) {
  .movie-list-filter .movie-each {
    width: calc(100% / 5 - 13px);
  }
  .auth-social-login li button {
    padding: 14px 20px;
  }
}

@media screen and (max-width: 1199px) {
  h1 {
    font-size: 38px;
    margin: 0 0 10px;
  }
  h2 {
    font-size: 28px;
    margin: 0 0 10px;
  }
  h3 {
    font-size: 20px;
    margin: 0 0 10px;
  }
  p {
    font-size: 14px;
    margin: 0 0 10px;
  }

  .auth-slider-info {
    padding: 30px 5% 12px 5%;
    z-index: 3;
  }
  .authSwiper .swiper-nav-btns {
    right: 5%;
    bottom: 130px;
    width: 74px;
  }
  .auth-form-top {
    margin: 100px 0 40px;
  }
  .auth-input-wrap .input-each:not(:last-child) {
    margin-bottom: 30px;
  }
  .movie-filter-wraper .MuiContainer-root {
    padding-right: 0;
    padding-left: 0;
  }
  .movie-filter-wraper .MuiContainer-root {
    padding-right: 24px;
    padding-left: 24px;
  }

  .each-movie-rating .movie-rating {
    font-size: 60px;
  }
  .filter-browse-by .input-each {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .filter-browse-by-list {
    gap: 9px;
    width: 100%;
  }
  .movielist-title ul li {
    border-radius: 10px;
    font-size: 14px;
  }
  .movie-bnr-btn .p-btn {
    padding: 8px 13px;
  }
  .movie-banner-info-inner p {
    font-size: 14px;
  }
  .header-rt ul {
    gap: 16px;
  }

  .MuiContainer-root {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .movie-details-info .MuiGrid2-spacing-xs-8 {
    gap: 30px;
  }
  .auth-social-login {
    justify-content: center;
    flex-wrap: wrap;
  }
  .movie-tag-list .movie-tag {
    font-size: 14px;
    padding: 4px 10px;
  }
  .p-btn {
    padding: 8px 13px;
    font-size: 16px;
  }
  .custom-btn-group .MuiButton-outlined {
    padding: 8px 7px;
  }
  .custom-btn-group .MuiButtonGroup-firstButton {
    padding: 8px 20px;
  }
  .trailer-info {
    width: calc(100% - 20px);
    gap: 10px;
    padding: 6px 10px;
  }
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 32px;
    margin: 0 0 15px;
  }
  .auth-social-login li button {
    font-size: 12px;
    gap: 6px;
  }
  .other-auth-option:before,
  .other-auth-option:after {
    width: 100px;
  }
  .movie-details-info-rt {
    padding-top: 16px;
  }
}

/* For SM (600 - 899) */
@media screen and (max-width: 899px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 38px;
    margin: 0 0 10px;
  }
  h2 {
    font-size: 24px;
    margin: 0 0 10px;
  }
  h3 {
    font-size: 24px;
    margin: 0 0 10px;
  }
  p {
    font-size: 14px;
    margin: 0 0 10px;
  }

  .auth-wraper {
    height: auto;
  }
  .auth-wraper-inn,
  .auth-slider-wrap,
  .auth-slider-wrap .swiper,
  .auth-slider-img-holder {
    height: auto;
  }
  .auth-slider-img-holder {
    padding-bottom: 100%;
  }
  .auth-form-top {
    margin: 40px 0 40px;
  }
  .header-page-tab .page-tab,
  .header-rt .header-create,
  .header-rt .header-notification,
  .header-rt .header-message,
  .header-rt .user-perfile {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  .header-page-tab {
    order: 1;
  }
  .header-logo {
    order: 2;
  }
  .header-rt {
    order: 3;
  }
  .filter-browse-by .input-each {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  .filter-browse-by-list {
    width: calc(100% - 90px);
    overflow-x: auto;
    overflow-y: hidden;
    padding: 4px 0 6px;
  }
  .movie-banner-img-holder {
    padding-bottom: 50%;
  }
  .movie-banner-info-inner p {
    font-size: 14px;
  }
  .p-btn {
    padding: 10px 13px;
    font-size: 14px;
  }
  .movie-filter-wraper {
    padding: 30px 0;
  }
  .movie-list-inner {
    gap: 8px;
  }
  .movie-list-filter .movie-each {
    width: calc(100% / 4 - 6px);
  }
  .authSwiper .swiper-nav-btns button {
    width: 28px;
    height: 28px;
  }
  .movie-details-btn-desktop {
    display: none;
  }
  .movie-details-btn-mobile {
    display: flex;
  }
  .movie-details-info-lt {
    padding-right: 20px;
  }
  .movie-details-info-tab-content {
    margin-bottom: 45px;
  }

  /* .filter-sort-inner {
    justify-content: flex-start;
} */
}

/* For XS (0 - 600) */
@media screen and (max-width: 599px) {
  p {
    font-size: 14px;
    margin: 0 0 10px;
  }
  .auth-slider-info h1 {
    width: 88%;
    font-size: 20px;
  }
  .auth-slider-info {
    padding: 16px 16px 8px 16px;
  }
  .auth-form-wrap h2 {
    font-size: 24px;
  }
  .auth-form-top {
    margin: 0px 0 40px;
  }
  .auth-form-top p {
    font-size: 16px;
  }
  .auth-social-login li button span {
    display: none;
  }
  .auth-social-login li button {
    padding: 14px 68px;
    border: 1px solid #d7dedd;
  }
  .other-auth-option {
    margin-bottom: 32px;
  }
  .auth-input-wrap .input-each:not(:last-child) {
    margin-bottom: 40px;
  }
  .auth-input-wrap {
    margin-bottom: 16px;
  }
  .auth-agree {
    margin-bottom: 20px;
  }
  .auth-form-wrap .p-btn {
    margin-bottom: 12px;
  }
  .auth-social-login {
    justify-content: center;
  }
  .movielist-title {
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .movie-banner-img-holder {
    padding-bottom: 50%;
  }
  .movie-banner-img-holder img {
    object-fit: cover;
  }
  .movie-banner-info {
    position: relative;
    bottom: 0px;
    padding: 30px 0;
    background: linear-gradient(
      to bottom,
      rgba(21, 16, 25, 1) 0%,
      rgba(21, 16, 25, 1) 100%
    );
  }
  .movie-list-filter .movie-each {
    width: calc(100% / 3 - 6px);
  }
  .movie-details-info {
    margin: 20px 0 32px 0;
  }
  .person-details-info-lt {
    width: 176px;
    margin: 0 auto;
  }
  .person-details-info-rt {
    width: 100%;
  }
  .person-details-info .MuiGrid2-spacing-xs-8 {
    gap: 20px;
  }
  .person-details-info-tab-content {
    margin-bottom: 38px;
  }
  .castSwiper .swiper-button-next,
  .castSwiper .swiper-button-prev {
    display: none;
  }
  .person-details-info {
    margin: 38px 0;
  }
  .person-details-list-wrap .MuiList-root:last-child {
    margin: 0;
  }
  .person-details-info-tab-content h3 {
    margin-bottom: 8px;
  }
  .movieBannerSwiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .movieBannerSwiper .swiper-pagination-bullet-active {
    background: #c3c3c3;
  }
  .movie-banner {
    background: linear-gradient(
      to bottom,
      rgba(21, 16, 25, 1) 0%,
      rgba(21, 16, 25, 1) 100%
    );
  }
  .each-movie-rating .movie-rating {
    font-size: 40px;
  }
  .movie-list-wrap {
    margin-bottom: 30px;
  }
  .swiperNav .swiper-button-next,
  .swiperNav .swiper-button-prev {
    display: none;
  }
  .custom-btn-group .MuiButton-outlined {
    font-size: 12px;
  }
  .movie-details-info .MuiGrid2-spacing-xs-8 {
    gap: var(--Grid-rowSpacing) var(--Grid-columnSpacing);
  }
  .movie-details-info-lt {
    padding: 0 0 0 10px;
  }
  .movie-details-btn-list .p-btn {
    width: 100%;
  }
  .movie-details-btn-list .custom-btn-group {
    width: calc(100% - 50px);
  }
  .movie-details-btn-list .custom-btn-group .MuiButtonGroup-firstButton {
    width: 100%;
  }
  .movie-details-info .movie-details-info-rt {
    order: 1;
  }
  .movie-details-info .movie-details-info-lt {
    order: 2;
  }
  .movie-details-info .movie-details-btn-list {
    order: 3;
    margin-top: 23px;
  }
  .movie-details-info-rt {
    padding-top: 0px;
  }
  .movie-details-banner {
    padding-bottom: 75%;
  }
  .movie-details-tab1-card-each {
    margin-bottom: 15px;
  }
  .single-trailer iframe {
    height: 250px;
  }
}
